# OS & editors
.DS_Store
*.log
.env
.env.*
!.env.example
.idea/
.vscode/

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Expo / React Native
.expo/
.expo-shared/
dist/
build/
web-build/

# iOS / Android native folders if they exist
ios/Pods/
ios/build/
android/.gradle/
android/.idea/
android/app/build/
android/local.properties

# Metro / caches
.cache/
.expo/web/cache/

# Misc
coverage/